/**
 * STYLE.CSS
 * Generic styling for the overall project
 *
 * - VARIABLES          variable declarations and imports
 * - DEFAULT ELEMENTS   html, body, main, etc.
 * - SITE SECTIONS      nav, header, main, etc.
 * - THEME TOGGLE       light/dark mode toggle button
 * - SCROLLBAR          Scrollbar
 */

@import "./reset.css";  /* must be imported before any other style changes */

/* -- VARIABLES ------------------------------------------------------------ */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

:root {
    --c-bg-primary: #eeeeee;
    --c-bg-secondary: #2222220f;
    --c-text-primary: #222222;
    --c-scrollbar: #dddddd;
    --c-scrollbar-track: #aaaaaaf0;
    --c-header-break: #0000000f;
    --s-navbar-height: 3.5em;
    transition: 0.5s;
}

[data-theme="dark"] {
    --c-bg-primary: #061019;
    --c-bg-secondary: #ffffff0f;
    --c-text-primary: #eeeeee;
    --c-scrollbar: #555555f0;
    --c-scrollbar-track: #2a2a2a;
    --c-header-break: #ffffff0f;
    transition: 0.5s;
}

/* -- DEFAULT ELEMENTS ----------------------------------------------------- */

* {
    font-family: 'Nunito Sans', sans-serif;

    margin: 0;
    padding: 0;
}

html {
    background-color: var(--c-bg-primary);
    color: var(--c-text-primary);
}

body {
    min-height: 100vh;
    width: 100%;
}

main {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    display: flex;
    height: var(--s-navbar-height);
    justify-content: center;
    width: 100%;

    position: absolute;
    top: 0px;
    z-index: 1;
}

/* -- SITE SECTIONS -------------------------------------------------------- */

.container {
    display: flex;
    border-bottom: 1px solid var(--c-header-break);
    flex-direction: row;
    justify-content: right;
    max-width: 900px;
    padding: 10px 15px;
    width: 100%;
}

#timestamps {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: calc(var(--s-navbar-height) + 16px);
    min-height: 100vh;
    width: 100%;
}

#local-time {
    text-align: center;

    padding: 20px 35px;
}

#local-time h1 {
    font-size: 3em;
}

.profile-cards {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    max-width: 900px;
    min-height: 10vh;
    width: 100%;
}

@media screen and (max-width: 450px) {

    .profile-cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
        min-height: 0;
    }

    #droppable-area {
        visibility: hidden;
    }
}

.profile-card {
    background-color: #0000000f;

    display: grid;
    border: 1px solid #ffffff0f;
    border-radius: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    justify-self: center;
    margin: 5px;
    padding: 0.5em 1.5em;
    width: 15em;
    height: 7.5em;
}

.profile-card h1 {
    font-weight: bold;
    font-size: 1.5em;

    grid-column-start: 1;
    grid-row-start: 1;

    align-self: center;
}

.profile-card h2 {
    grid-column-start: 1;
    grid-row-start: 2;
}

.profile-card p {
    background-color: #0000000f;
    border: 1px solid #ffffff0f;
    border-radius: 5px;

    display: flex;
    align-items: center;
    grid-column: 1 / column2-end;
    grid-row: 3 / auto;
    justify-content: center;
    padding: 5px 10px;
}

.profile-card img {
    grid-column-start: 2;
    grid-row-start: 1;
    height: 20px;
    justify-self: right;
    width: 20px;
}

[data-theme="dark"] .profile-card img {
    filter: invert(100%);
}

[data-theme="light"] .profile-card img {
    filter: invert(0%);
}

/* -- THEME TOGGLE --------------------------------------------------------- */

#theme-toggle {
    border-radius: 32px;
    background-color: #222222;

    display: block;
    height: 32px;
    width: 64px;

    position: relative;

    box-shadow:
        inset 0 2px 10px rgba(0, 0, 0, 0.1),
        inset 0 2px 2px rgba(0, 0, 0, 0.1),
        inset 0 -4px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    transition: 0.5s;
}

[data-theme="light"] #theme-toggle {
    background-color: #eeeeee;
    box-shadow:
        inset 0 1px 10px rgba(0, 0, 0, 0.1),
        inset 0 1px 1px rgba(0, 0, 0, 0.1),
        inset 0 -2px 2px rgba(0, 0, 0, 0.1);
}

#theme-indicator {
    background: linear-gradient(to bottom, #444444, #222222);
    border-radius: 50%;

    height: 32px;
    width: 32px;

    left: 0;
    top: 0;
    position: absolute;

    box-shadow:
        0 2px 10px rgba(0, 0, 0, 0.5),
        inset 0 1px 1px rgba(255, 255, 255, 0.2),
        inset 0 -1px 1px rgba(255, 255, 255, 0.2);
    transform: scale(0.9);
    transition: 0.5s;
}

[data-theme="light"] #theme-toggle #theme-indicator {
    background: linear-gradient(to bottom, #eaeaea, #f9f9f9);

    left: 32px;

    box-shadow:
        0 2px 5px rgba(0, 0, 0, 0.1),
        inset 0 1px 1px rgba(255, 255, 255, 1),
        inset 0 -1px 1px rgba(255, 255, 255, 1);
}

/* -- SCROLLBAR ------------------------------------------------------------ */

::-webkit-scrollbar-track {
    background-color: var(--c-scrollbar-track);
    border-radius: 20px;

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

::-webkit-scrollbar {
    background-color: var(--c-scrollbar-track);

    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--c-scrollbar);
    border-radius: 10px;

    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

/* -- DROP TARGET ---------------------------------------------------------- */

@media screen and (min-width: 450px) {
    #droppable-area {
        background-color: #0000000f;
        border: 1px solid var(--c-header-break);
        border-radius: 20px;

        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        max-width: 900px;
        padding: 10px;
    }

    .drop-zone {
        align-items: center;

        min-height: 50vh;
    }

    .drop-target {
        background-color: var(--c-bg-secondary);
        border-radius: 20px;
    }
}

